.card-comment {
  max-width: 1366px;
  margin: auto;
  text-align: center;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  /* background: var(--bg-comment); */
  background: #ffffff33;
  backdrop-filter: blur(40px);
  border-radius: 24px;
  color: var(--purple);
  font: bold var(--body1);
  box-shadow: inset 4px 4px rgba(255, 255, 255, 0.4);
}

.name-fouder-site {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .card-comment {
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .user-comment {
    font: var(--headline4);
  }
  .name-fouder-site {
    font: var(--headline5);
  }
}
