.social-links {
  display: flex;
  gap: 16px;
}

.social-links img {
  background: white;
  padding-inline-end: 13px;
  padding-inline-start: 13px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 4px;
  border: 2px solid var(--purple);
}
.social-links a {
  text-decoration: none;
}
