@import url("./css/header.css");
@import url("./css/button.css");
@import url("./css/hero.css");
@import url("./css/social.css");
@import url("./css/comment.css");
@import url("./css/card.css");
@import url("./css/title.css");
@import url("./css/comment-projects.css");
@import url("./css/formulario.css");
@import url("./css/footer.css");

:root {
  --fontBase: "Poppins", sans-serif;
  --headline1: bold 95px/153px var(--fontBase);
  --headline2: bold 59px/95px var(--fontBase);
  --headline3: bold 48px/77px var(--fontBase);
  --headline4: bold 34px/55px var(--fontBase);
  --headline5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase);
  --caption: 12px/19px var(--fontBase);
  --comment-mobile: 24px/38px var(--fontBase);
  --comment-desktop: 34px/55px var(--fontBase);

  --purple: #310a90;
  --green: #42e2b8;
  --white: #ffffff;
  --bg-comment: background: rgba(255, 255, 255, 0.2);

  --gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  background-repeat: no-repeat;
}

header {
  max-inline-size: 1366px;
  margin: auto;
}

main {
  max-inline-size: 1366px;
  margin: auto;
}
